.App {
  text-align: center;
}

.post-title {
  background-color: lightblue;
  text-align: left;

  margin-bottom: 5px;
  border-radius: 5px;
}

.post-body {
  background-color: lightgreen;
  text-align: left;

  border-radius: 5px;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: start;
  
  max-width: 500px;
  width: 100%;
  margin: 20px 0;
  padding: 5px;

  border: 1.2px solid green;
  border-radius: 5px;
  background-color: lightcyan;
  box-shadow: 2px 2px 4px gray;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading{
  margin-top: 20px;
  height: 4000px;
}

span {
  background-color: lightcoral;
  border-radius: 5px;
}

small {
  background-color: aqua;
  border-radius: 5px;

  margin-bottom: 5px;
  padding: 2px 5px;
}

.id {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.small_mod{
  margin-right: 10px;
}